.App {

}

.section {
  text-align: center;
}

.container {
  display: flex;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  min-width: 600px;
  padding: 20px;
}

.box1 {
  flex: 0 0 200px;
  border: 1px solid #000000;
}

.box2 {
  flex: 1;
  border: 1px solid #000000;
}

.box3 {
  flex: 0 0 300px;
  border: 1px solid #000000;
}

.q2-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 200px));
}

.label {
  margin-right: 10px;
  font-weight: bold;
}

.input-group {
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}

.menu {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #0889df;
  text-decoration: underline;
}

.question {
  padding: 20px;
}